td, th {
	border: 3px solid;
	padding: 10px; 
    text-align: center; 
	font-weight: bold;
	
  }
  
table img {
  width: 150px; 
  height: auto;
}

body {
	font-family: Calibri, sans-serif;
    padding: 20px;
    margin: 0; 
	background-color: #6d6a6a;
}

.subtitle {
    text-align: center; 
    font-size: 20px; 
    font-style: italic; 
    margin-bottom: 30px; 
}

.section-title {
    text-align: center; 
    font-size: 40px; 
    margin-bottom: 20px; 
}

.main-title {
    text-align: center; 
    font-size: 45px; 
    font-weight: bold; 
    margin-bottom: 10px; 
}

table {
    margin: auto; 
    border: 1px solid black;
    border-collapse: collapse;
	width: 50%;
	border-radius: 15px; 
    overflow: hidden; 
}
	

#planet-facts {
    width: 100%; 
    border-collapse: collapse; 
    border-radius: 10px; 
    overflow: hidden; 
}

.styled-table th {
    background-color: #4A90E2; 
    color: #ffffff; 
    padding: 12px; 
}

.styled-table td {
    background-color: #ffffff; 
    border: 1px solid #ddd; 
    padding: 10px; 
    text-align: center;
}


.image-cell {
    font-weight: bold; 
}

  
  