td, th {
	border: 3px solid;
	padding: 10px; 
    text-align: center; 
	font-weight: bold;
	
  }
  
table img {
  width: 150px; 
  height: auto;
}

body {
	font-family: Calibri, sans-serif;
    padding: 20px;
    margin: 0; 
	background-color: #6d6a6a;
}

h1 {
    text-align: center; 
    margin-top: 20px; 
}

table {
    margin: auto; 
    border: 1px solid black;
    border-collapse: collapse;
	width: 50%;
	border-radius: 15px; 
    overflow: hidden; 
    }
	
th {
font-size: 20px
}

  
  